# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ConsoleApp2.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Mango\Desktop\Inżynier WSTI (AEH)\Informatyka sem VI\Programowanie .net\Laboratoria\Lab 2\3\ConsoleApp2\.idea\.idea.ConsoleApp2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
